@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    background-color: #3F3250;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #9A9A9A;
    border-radius: 5px;
}

.footerBgImg
{
    background: url('../public/Image/noisy.png');
}
.productsBanner
{
    background: url('../public/Image/products Banner.webp') center center no-repeat;
    background-size: cover;
}