@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    background-color: #3F3250;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #9A9A9A;
    border-radius: 5px;
}

/* Add this CSS to your global styles or module CSS */
.header-gradient {
    background: linear-gradient(to right, white 50%, rgba(173, 216, 230, 0.8), rgba(220, 220, 220, 0.8), rgba(240, 240, 240, 0.8), rgba(105, 105, 105, 0.8));
}


div.list-disc>div>ul {
    list-style: disc;
}

.footerBgImg {
    background: url('../public/images/noisy.png');
}

.productsBanner {
    background: url('../public/images/products_banner.webp') center center no-repeat;
    background-size: cover;
}